body {
  background: #599fd9;
  background: -webkit-linear-gradient(45deg,#13225c 0,rgba(29,185,241,.59) 100%) !important;
  background:linear-gradient(45deg,#13225c 0,rgba(29,185,241,.59) 100%) !important;
  min-height: 100vh;
  overflow-x: hidden;
  font-family:GT-Walsheim-Pro-Bigscreen,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.admin_bg{
  background-color: rgba(19, 34, 92,0.85) !important;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
h1,h2,h3,h4,h5,h6{
  color:#13225c;
  font-family:GT-Walsheim-Pro-Bigscreen,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
label{
  color:rgb(29,185,241);
}
.white *{
  color:white !important;
}
.btn-info{
  background-color: rgb(29,185,241) !important;
  border:none !important;
  color:white!important;
}
.error{
    color:red;
}
img{
  max-width: 200px;
}
.card{
  background : rgba(0, 0, 0, 0.1) !important;
  margin:10px 0px;
}

.card-white{
  background:#fafafa !important;
}

.form-group{
  background: #fafafa;
  padding: 2%;
  border-radius: 5px;
}

.radio label {
  margin: 2em;
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.radio input {
  height: 1px;
  width: 1px;
  opacity: 0;
}

.outside {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #13225c;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
}

.inside {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: rgb(29,185,241) ;
  left: 3px;
  top: 3px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}
.no-transforms .inside {
  left: auto;
  top: auto;
  width: 0;
  height: 0;
}

.radio input:checked + .outside .inside {
  -webkit-animation: radio-select 0.1s linear;
          animation: radio-select 0.1s linear;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.no-transforms input:checked + .outside .inside {
  width: 10px;
  height: 10px;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
